.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    outline: none;
    padding: 0 15px;
  }

  &__btn-box {
    display: flex;
    gap: 20px;
  }
}
