<div class="form" [formGroup]="form">
  <div class="form__wrapper">
  <h2>Добавить фильм</h2>
  <div class="form__wrapper">
    <input class="form__input" formControlName="name" type="text" placeholder="Введите название">
    <input class="form__input" formControlName="year" type="text" placeholder="Введите год выхода">
    <input class="form__input" formControlName="poster" type="file" placeholder="Прикрепите постер к фильму" (change)="apiService.changeFileFormat($event)">
  </div>
  </div>
  <div class="form__btn-box">
    <button matButton="outlined" (click)="closeDialog()">Отмена</button>
    <button matButton="filled" class="btn" [disabled]="!form.controls.name.value || !form.controls.year.value" (click)="createMovie()">Добавить</button>
  </div>
</div>
