.movie-container {
  padding: 20px;
  background-color: #ffffff;
}

.btn-back {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  color: #d54200;

  img {
    width: 20px;
    height: 20px;
  }
}

.movie {
  display: flex;
  align-items: start;
  gap: 35px;

  &__name {
    margin-bottom: 15px;
  }

  &__poster {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__rating {
    font-size: 22px;
    font-weight: bold;
    background-color: #D54200;
    border-radius: 50%;
    min-width: 40px;
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    filter: drop-shadow(0 0 5px #d54200);
    animation: pulse .7s infinite alternate;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__edit{
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  &__delete {
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
