.movies-container {
  padding: 20px 40px;
  background-color: #ffffff;
}

.movies-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 30px;

  &__input {
    height: 40px;
    width: 400px;
    border: 1px solid #b9a3a3;
    outline: none;
    padding: 0 15px;
    border-radius: 100px;
  }
}

.movies-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.movies {
  width: 250px;

  &__item {
    cursor: pointer;
  }

  &__name {
    font-size: 20px;
  }

  &__poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

}

//loader
.spinner-container {
  display: flex;
  justify-content: center;
  margin: 200px 0;
}

.spinner {
  border: 8px solid #141414;
  border-top: 8px solid #d54200;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//not-found
.empty {
  text-align: center;
  padding: 200px 0;

  &__text {
    font-size: 24px;
  }

  img {
    height: 70px;
    width: 70px;
  }
}

