.movies-container {
  padding: 20px;
  background-color: #ffffff;
}

.movies-header {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 30px;

  &__input {
    height: 40px;
    width: 400px;
    border: 1px solid #b9a3a3;
    outline: none;
    padding: 0 15px;
    border-radius: 100px;
  }
}

.movies-content {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

.movies {
  display: flex;
  gap: 30px;

  &__item {
    cursor: pointer;
  }

  &__name {
    font-size: 20px;
  }

  img {
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
}

