<div class="container movies-container">
  <div class="movies-header">
    <h2 class="title">Список фильмов</h2>
    <div>
      <input class="movies-header__input" [formControl]="inputField" placeholder="Поиск по названию" type="text">
    </div>
    <button class="btn" matButton="filled" (click)="openDialog()">+ Добавить фильм</button>
  </div>

  <div class="movies-content">
    <div *ngFor="let movie of filteredMovies" class="movies">
      <div class="movies__item" [routerLink]="['movie/', movie.id]">
        <div class="movies__name">{{movie.name}}</div>
        <div>{{movie.year}}</div>
      </div>

      <img src="/assets/icons/delete.svg" alt="delete" (click)="deleteMovie(movie.id)">
    </div>
  </div>

</div>
