.main-header {
  background-color: #141414;
  height: 72px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    height: 50px;
    width: 200px;
  }

  &__main-icon {
    padding: 10px;
  }

  &__btn-dialogs-wrapper {
    display: flex;
    align-items: center;
    gap: 15px
  }

  &__registr-btn {
    color: #ffffff;
    cursor: pointer;
  }
}
