.main-header {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #141414;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 25px;
    user-select: none;
  }

  &__logo {
    height: 50px;
    width: 50px;
  }

  &__logo-text {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 0 5px #ff5100, 0 0 10px #ff6600, 0 0 20px #ff5100, 0 0 40px #ec8760, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  }

  &__btn-dialogs-wrapper {
    display: flex;
    align-items: center;
    gap: 15px
  }

  &__registr-btn {
    color: #ffffff;
    cursor: pointer;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 15px #ff5100, 0 0 20px #ff6600, 0 0 40px #ff5100, 0 0 60px #ec8760, 0 0 150px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}
